// Core
.btn {
  @include fontTitleBold;
  @include px-em--font-size--line-height(18,25);
  display: inline-block;
  position: relative;
  padding: px-em(10) px-em(20) px-em(10) px-em(50);
  margin-bottom: 0; // For input.btn
  line-height: inherit;
  text-align: center;
  vertical-align: middle;
  color: $btn_text;
  cursor: pointer;
  background: $btn_background;
  border: none;

  &:hover {
    background: $btn_background_hover;
    color: $btn_text;
  }   

  .icon-wrap {
    display: inline-block;
    margin: px-em(5) 0 0;
    width: px-em(40);
    vertical-align: middle;
    text-align: right;
  }
}


.btn-secondary {
  background: $btn_secondary_background;

  &:hover {
    color: $btn_text;
    background: $btn_secondary_background_hover;
  }
}

.btn-gradient {
  background: {
    color: $pink;
    image: url('/svg/patterns/gradient-default.svg');
    size: cover;
  }

  .cover {
    @include fill-parent();
    opacity: 0;
    display: block;
    background: $white;
    transition: all .25s ease-in;
  }

  &:hover {
    background: {
      color: $pink;
      image: url('/svg/patterns/gradient-default.svg');
      size: cover;
    }

    .cover {
      opacity: .25;
    }
  }
}

.btn-stroke {
  background: none;
  border: 2px solid $white;
  transition: all .25s ease-in;

  &.cujojp {
    border: 2px solid $pink;
  }

  &:hover {
    background: none;
    border-color: $gray70;
  }
}

/* #Mobile (Landscape)
================================================== */
@media only screen and (max-width: 767px) {
  .btn {
    @include px-em--font-size--line-height(12,18);
  }
}
