@mixin alpha {
  margin-left: 0;
}

// strip units from any number. "50px" returns 50.
@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}

@mixin omega {
  margin-right: 0;
}

@mixin grid ($count:1, $pos:"") {
  $gutter : $grid_gutter_width;
  $base   : $grid_column_width * $count;

  width: $base + (($count - 1) * $gutter);
  float: left; 
  display: inline; 
  margin: {
    right: ($gutter / 2);
    left: ($gutter / 2);
  };

  @if ($pos == "alpha") {
    @include alpha();
  }

  @if ($pos == "omega") {
    @include omega();
  }
}

// Maintain ratio mixin. Great for responsive grids, or videos.
// https://gist.github.com/brianmcallister/2932463
// 
// $ratio - Ratio the element needs to maintain.
// 
// Examples
// 
//   // A 16:9 ratio would look like this:
//   .element {
//     @include maintain-ratio(16 9);
//   }
@mixin maintain-ratio($ratio: 1 1) {
  @if length($ratio) < 2 or length($ratio) > 2 {
    @warn "$ratio must be a list with two values.";
  }

  $width: 100%;
  $height: percentage(nth($ratio, 2) / nth($ratio, 1));
  
  position: relative;
  width: $width;
  height: 0;
  padding-bottom: $height;
}

@mixin aspect-box() {
  @each $name, $list in $aspect_grids {
    .aspect-#{$name} {
      @include maintain-ratio($list);
    }
  }
}

@mixin offset ($cols:1) {
  padding-left: ($cols * $grid_offset) + 0px;
} 

@mixin font($font_family:$base_font_family, $font_weight: normal, $font_style: normal){
  font-family: $font_family;
  font-weight: $font_weight;
  font-style: $font_style;
}

// Box shadows
// Jackmoved from compass
@mixin box-shadow($shadow1, $shadow2:null, $shadow3:null) {
  @if ($shadow3!=null) {
    -webkit-box-shadow: $shadow1, $shadow2, $shadow3;
    box-shadow: $shadow1, $shadow2, $shadow3;
  } @else if ($shadow2!=null){
    -webkit-box-shadow: $shadow1, $shadow2;
    box-shadow: $shadow1, $shadow2;
  } @else {
    -webkit-box-shadow: $shadow1;
    box-shadow: $shadow1;
  }
}

// Fill the parent using absolute positioning
@mixin fill-parent() {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

// Opacity
// Jackmoved from compass
@mixin opacity($opacity) {

  opacity: $opacity / 100;

  .no-opacity & {
    @if ( $opacity == 0 ){
      visibility: hidden;
    } @else {
      visibility: visible;
    }
  }
}

@mixin fontTitle(){ // AvenirNextW01-ThinItali
  @include font($base_font_family_title);
}

@mixin fontTitleBold(){ // AvenirNextW01-ThinItali
  @include font($sans_serif_regular_italic);
}

@mixin fontRegular(){ // Avenir Next W02 Light
  @include font($sans_serif_regular);
}

@mixin fontItalic(){ // AvenirNextLTW01-Italic
  @include font($base_font_family_italic);
}

@mixin fontBold() { // Avenir Next LT W01 Demi
  @include font($base_font_family_medium);
}

@mixin fontMedium(){ // Avenir Next W02 Light
  @include font($base_font_family_medium);
}

// convert px to em, with regard to its context. Most context will be 16px.
@function px-em($pxFont, $context:16){
  @return (strip-units($pxFont) / strip-units($context)) + 0em;
}

@function px-line-height($pxLH, $pxFont){
  @return strip-units($pxLH) / strip-units($pxFont);
}

@mixin px-em--font-size--line-height($pxFont, $pxLH, $context:16) {
  font-size: px-em($pxFont, $context);
  line-height: px-line-height($pxLH, $pxFont);
}

