$legacy_support_for_ie: false !default; // Used also in Compass

// Set the default font family here so you don't have to override it later
$normalized_font_family: sans-serif !default;

$sans_serif_light: 'AvenirNextW01-ThinItali', Arial, sans-serif;
$sans_serif_regular: 'Avenir Next W02 Light', Arial, sans-serif;
$sans_serif_light_italic: 'AvenirNextW01-ThinItali', Arial, sans-serif;
$sans_serif_regular_italic: 'AvenirLTW01-35LightObli', Arial, sans-serif;
$sans_serif_demi: 'Avenir Next LT W01 Demi', Arial, sans-serif;
$sans_serif_italic: 'AvenirNextLTW01-Italic', Arial, sans-serif;

/*font-family:'AvenirNextLTW01-UltraLt 727634';*/
/*font-family:'AvenirNextLTW01-Italic';*/
/*font-family:'AvenirNextLTW01-ItalicS';*/
/*font-family:'AvenirNextLTW01-MediumS';*/
/*font-family:'AvenirNextLTW01-MediumI 721278';*/

$normalize_headings: true !default;

$base_font_family: $sans_serif_light;
$base_font_family_title: $sans_serif_light_italic;
$base_font_family_title_medium: $sans_serif_regular;
$base_font_family_medium: $sans_serif_regular;
$base_font_family_italic: $sans_serif_italic;
$base_font_size: 1em !default;
$base_line_height: 1.65 !default;

// UI Elements
// -------------------------------------------------- //
$header_height: 95px !default;
$nav_width: 355px !default;

// Grid
// -------------------------------------------------- //
$grid_column_width: 88px;
$grid_gutter_width: 15px;
$grid_total_columns: 12;
$grid_baseline_height: 20px;

$grid_offset: ($grid_column_width + $grid_gutter_width);
$grid_width: ($grid_offset * $grid_total_columns);


// Grid Utility
// -------------------------------------------------- //

$grid_background_column_width   : $grid_column_width;
$grid_background_gutter_width   : $grid_gutter_width;
$grid_background_total_columns  : $grid_total_columns;
$grid_background_baseline_height: $grid_baseline_height;

$grid_background_baseline_color : rgba(0,0,0,0.15);
$grid_background_column_color   : rgba(100, 100, 100, 0.05);

$h1_font_size: 2em !default;
$h2_font_size: 1.5em !default;
$h3_font_size: 1.17em !default;
$h4_font_size: 1em !default;
$h5_font_size: 0.83em !default;
$h6_font_size: 0.75em !default;

$h1_margin: 0.67em 0 !default;
$h2_margin: 0.83em 0 !default;
$h3_margin: 1em 0 !default;
$h4_margin: 1.33em 0 !default;
$h5_margin: 1.67em 0 !default;
$h6_margin: 2.33em 0 !default;

$background: #fff !default;
$color: #000 !default;
$gray: #999;
$light_gray: #C2C2C2;
$dark_gray: #444;

$pink: rgb(226, 71, 120);
$light_pink: rgb(226, 130, 160);

$blue: rgb(109, 163, 196);

$black: rgb(0, 0, 0);
$gray10: rgb(26, 26, 26);
$gray20: rgb(51, 51, 51);
$gray30: rgb(77, 77, 77);
$gray40: rgb(102, 102, 102);
$gray50: rgb(125, 125, 125);
$gray60: rgb(153, 153, 153);
$gray70: rgb(172, 172, 172);
$gray80: rgb(204, 204, 204);
$gray90: rgb(226, 226, 226);
$gray100: rgb(242, 242, 242);
$gray110: rgb(250, 250, 250);
$white: rgb(255, 255, 255);
$modal_opacity: 0.7;
$modal_background_color: rgba(0,0,0,$modal_opacity);

$aspect_grids: (
  '16x9':                 (16,9),
  '9x16':                 (9, 16),
  '3x2':                  (3, 2),
  '2x3':                  (2, 3),
  '7x5':                  (7, 5),
  '5x7':                  (5, 7),
  '4x5':                  (4, 5),
  '5x4':                  (5, 4),
  '4x3':                  (4, 3),
  '3x4':                  (3, 4),
  '8x7':                  (8, 7),
  '7x8':                  (7, 8),
  '1x1':                  (1, 1),
);

// Standard Text Colors
$text_dark: $gray30;
$text_med_dark: $gray40;
$text_med_light: $gray50;
$text_light: $white;
$defaultTextColor: $text_dark;

$linkColor: $pink; 
$linkColorHover: $light_pink;

// FORMS
$inputBackground: $white !default;
$inputBackgroundAlt: rgb(248,248,248) !default;
$inputBackgroundBtnAlt: $light_gray !default;
$inputText: $light_gray !default;
$inputTextFocus: $gray !default;


// Z-INDEX LIST
$zindexMediaElement: 100 !default;
$zindexMediaBackground: 150 !default;
$zindexMediaContent: 200 !default;
$zindexAppContent: 300 !default;
$zindexPaddles: 900  !default;
$zindexGlobalNav: 999  !default;
$zindexDropdown: 1000 !default;
$zindexPopover: 1010 !default;
$zindexTooltip: 1030 !default;
$zindexFixedNavbar: 1030 !default;
$zindexScrollToTop: 1030 !default;
$zindexStickyNav: 1035 !default;
$zindexModalBackdrop: 1040 !default;
$zindexModal: 1050 !default;
$zindexUniversalNav: 1100 !default;

// BUTTONS
$btn_text: $white;
$btn_background: $pink;
$btn_background_hover: rgb(35, 206, 237);

$btn_secondary_text: $white;
$btn_secondary_background: $gray30;
$btn_secondary_background_hover: $gray20;
