extends layout

block content
  -dataObj = data
  -work = dataObj.work || []

  +partial('shared/modules/home/home-hero.jade', dataObj.home)
  for item in work
    div('style'= "height:2500px").section-wrap
      +partial('shared/modules/home/work-item-hero.jade', item)
  div('style'= "height:2500px").section-wrap.themed
  div('style'= "height:2500px").section-wrap.themed.cujojp.scroll-target
