extends layout

block content
  -work = data.work || []

  div('style'= "height:2500px").section-wrap.themed.cujojp.scroll-target
  for item in work
    div('style'= "height:2500px").section-wrap
      +partial('shared/modules/home/work-item-hero.jade', item)
  div('style'= "height:2500px").section-wrap.themed
  div('style'= "height:2500px").section-wrap.themed.cujojp.scroll-target
