include ./shared/global/jade-helpers.jade

doctype html
-dataObj = data

html
  head
    title= 'cool'
    link(rel='stylesheet', href='http://fast.fonts.net/cssapi/5bbf6f06-d191-4299-a581-6497ea2105ca.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    meta(name="viewport" content="initial-scale=1.0, user-scalable=no")
  body.app
    include ../public/svg/icons.svg
    +partial('shared/components/header.jade', dataObj)

    .main-container-wrap
      block content

    script(src='https://maps.googleapis.com/maps/api/js?sensor=false')
    script(src='/javascripts/all.js')
      
