include ../views/shared/global/jade-helpers.jade

extends layout

- dataObj = data;

article.work-item-container
  block content
    +partial('shared/modules/work-detail/mast-head.jade', dataObj.masthead)
    +partial('shared/modules/work-detail/detail-meta.jade', dataObj.info)
    +partial('shared/modules/work-detail/detail-content.jade', dataObj)
    +partial('shared/modules/work-detail/detail-navigation.jade', dataObj)
