include ../../../views/shared/global/jade-helpers.jade

header.mast-head.slide-app(class=data.headerClasses || '')
  .mast-head-inner
    .container.mast-head-container
      .row
        .two.columns.header-columns.header-columns--logo
          a(href="/")
            +svgIcon('cujojp', 'logo icon-animate')
        .two.columns.offset-by-eight.header-columns.header-columns--menu
          a.menu-icon-toggle(href="#TOGGLE_MENU")
            +svgIcon('menu', 'menu-icon icon-animate size-20')
              
