include ../../../views/shared/global/jade-helpers.jade

.inner-slide-nav
  .inner-logo-wrap.text-center
    a(href="/")
      +svgIcon('cujojp', 'logo icon-animate')

  ul.nav-list
    li.text-center
      a(href="/").nav-anchor.t2.t2-bold= "home"
    li.text-center
      a(href="/").nav-anchor.t2.t2-bold= "portfolio"
    li.text-center
      a(href="/").nav-anchor.t2.t2-bold= "about"
        
