/*font-family:'AvenirNextLTW01-UltraLt 727634';*/
/*font-family:'AvenirNextLTW01-Italic';*/
/*font-family:'AvenirNextLTW01-ItalicS';*/
/*font-family:'AvenirNextLTW01-MediumS';*/
/*font-family:'AvenirNextLTW01-MediumI 721278';*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: white;
  color: black;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  position: relative;
  width: 1056px;
  margin: 0 auto;
  padding: 0; }

.row {
  margin-bottom: 20px; }

.container {
  /* Nested Column Classes */ }
  .container .one.column, .container .one-third.column, .container .two-thirds.column,
  .container .one.columns {
    width: 52px;
    float: left;
    display: inline;
    margin: 0 18px 20px 18px; }
  .container .two.columns {
    width: 140px;
    float: left;
    display: inline;
    margin: 0 18px 20px 18px; }
  .container .three.columns {
    width: 228px;
    float: left;
    display: inline;
    margin: 0 18px 20px 18px; }
  .container .four.columns {
    width: 316px;
    float: left;
    display: inline;
    margin: 0 18px 20px 18px; }
  .container .five.columns {
    width: 404px;
    float: left;
    display: inline;
    margin: 0 18px 20px 18px; }
  .container .six.columns {
    width: 492px;
    float: left;
    display: inline;
    margin: 0 18px 20px 18px; }
  .container .seven.columns {
    width: 580px;
    float: left;
    display: inline;
    margin: 0 18px 20px 18px; }
  .container .eight.columns {
    width: 668px;
    float: left;
    display: inline;
    margin: 0 18px 20px 18px; }
  .container .nine.columns {
    width: 756px;
    float: left;
    display: inline;
    margin: 0 18px 20px 18px; }
  .container .ten.columns {
    width: 844px;
    float: left;
    display: inline;
    margin: 0 18px 20px 18px; }
  .container .eleven.columns {
    width: 932px;
    float: left;
    display: inline;
    margin: 0 18px 20px 18px; }
  .container .twelve.columns {
    width: 1020px;
    float: left;
    display: inline;
    margin: 0 18px 20px 18px; }
  .container .thirteen.columns {
    width: 1108px;
    float: left;
    display: inline;
    margin: 0 18px 20px 18px; }
  .container .fourteen.columns {
    width: 1196px;
    float: left;
    display: inline;
    margin: 0 18px 20px 18px; }
  .container .fifteen.columns {
    width: 1284px;
    float: left;
    display: inline;
    margin: 0 18px 20px 18px; }
  .container .sixteen.columns {
    width: 1372px;
    float: left;
    display: inline;
    margin: 0 18px 20px 18px; }
  .container .one-third.column {
    width: 322.66667px; }
  .container .two-thirds.column {
    width: 645.33333px; }
  .container .offset-by-one {
    padding-left: 88px; }
  .container .offset-by-two {
    padding-left: 176px; }
  .container .offset-by-three {
    padding-left: 264px; }
  .container .offset-by-four {
    padding-left: 352px; }
  .container .offset-by-five {
    padding-left: 440px; }
  .container .offset-by-six {
    padding-left: 528px; }
  .container .offset-by-seven {
    padding-left: 616px; }
  .container .offset-by-eight {
    padding-left: 704px; }
  .container .offset-by-nine {
    padding-left: 792px; }
  .container .offset-by-ten {
    padding-left: 880px; }
  .container .offset-by-eleven {
    padding-left: 968px; }
  .container .offset-by-twelve {
    padding-left: 1056px; }
  .container .offset-by-thirteen {
    padding-left: 1144px; }
  .container .offset-by-fourteen {
    padding-left: 1232px; }
  .container .offset-by-fifteen {
    padding-left: 1320px; }
  .container .column.alpha, .container .columns.alpha {
    margin-left: 0; }
  .container .column.omega, .container .columns.omega {
    margin-right: 0; }

/* #Tablet (Portrait)
================================================== */
/* Note: Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 768px; }

  .container .column,
  .container .columns {
    margin-left: 10px;
    margin-right: 10px; }

  .column.alpha, .columns.alpha {
    margin-left: 0;
    margin-right: 10px; }

  .column.omega, .columns.omega {
    margin-right: 0;
    margin-left: 10px; }

  .alpha.omega {
    margin-left: 0;
    margin-right: 0; }

  .container .one.column, .container .one-third.column, .container .two-thirds.column {
    width: 44px; }

  .container .two.columns {
    width: 108px; }

  .container .three.columns {
    width: 172px; }

  .container .four.columns {
    width: 236px; }

  .container .five.columns {
    width: 300px; }

  .container .six.columns {
    width: 364px; }

  .container .seven.columns {
    width: 428px; }

  .container .eight.columns {
    width: 492px; }

  .container .nine.columns {
    width: 556px; }

  .container .ten.columns {
    width: 620px; }

  .container .eleven.columns {
    width: 684px; }

  .container .twelve.columns {
    width: 748px; }

  .container .one-third.column {
    width: 236px; }

  .container .two-thirds.column {
    width: 492px; }

  /* Offsets */
  .container .offset-by-one {
    padding-left: 64px; }

  .container .offset-by-two {
    padding-left: 128px; }

  .container .offset-by-three {
    padding-left: 192px; }

  .container .offset-by-four {
    padding-left: 256px; }

  .container .offset-by-five {
    padding-left: 320px; }

  .container .offset-by-six {
    padding-left: 384px; }

  .container .offset-by-seven {
    padding-left: 448px; }

  .container .offset-by-eight {
    padding-left: 512px; }

  .container .offset-by-nine {
    padding-left: 576px; }

  .container .offset-by-ten {
    padding-left: 640px; }

  .container .offset-by-eleven {
    padding-left: 704px; } }
/*  #Mobile (Portrait)
================================================== */
/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
  .container {
    width: 300px; }

  .columns, .column {
    margin: 0; }

  .container .one.column, .container .one-third.column, .container .two-thirds.column,
  .container .two.columns,
  .container .three.columns,
  .container .four.columns,
  .container .five.columns,
  .container .six.columns,
  .container .seven.columns,
  .container .eight.columns,
  .container .nine.columns,
  .container .ten.columns,
  .container .eleven.columns,
  .container .twelve.columns,
  .container .thirteen.columns,
  .container .fourteen.columns,
  .container .fifteen.columns,
  .container .sixteen.columns,
  .container .one-third.column,
  .container .two-thirds.column {
    width: 300px; }

  /* Offsets */
  .container .offset-by-one,
  .container .offset-by-two,
  .container .offset-by-three,
  .container .offset-by-four,
  .container .offset-by-five,
  .container .offset-by-six,
  .container .offset-by-seven,
  .container .offset-by-eight,
  .container .offset-by-nine,
  .container .offset-by-ten,
  .container .offset-by-eleven,
  .container .offset-by-twelve,
  .container .offset-by-thirteen,
  .container .offset-by-fourteen,
  .container .offset-by-fifteen {
    padding-left: 0; }

  /* Float menu left now*/
  .menu ul {
    float: left; } }
/* #Mobile (Landscape)
================================================== */
/* Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 420px; }

  .columns, .column {
    margin: 0; }

  .container .one.column, .container .one-third.column, .container .two-thirds.column,
  .container .two.columns,
  .container .three.columns,
  .container .four.columns,
  .container .five.columns,
  .container .six.columns,
  .container .seven.columns,
  .container .eight.columns,
  .container .nine.columns,
  .container .ten.columns,
  .container .eleven.columns,
  .container .twelve.columns,
  .container .thirteen.columns,
  .container .fourteen.columns,
  .container .fifteen.columns,
  .container .sixteen.columns,
  .container .one-third.column,
  .container .two-thirds.column {
    width: 420px; }

  /* Float menu left now*/
  .menu ul {
    float: left; } }
/* #Clearing
================================================== */
/* Self Clearing Goodness */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.row:after,
.clearfix:after {
  clear: both; }

.row,
.clearfix {
  zoom: 1; }

/* You can also use a <br class="clear" /> to clear columns */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.rule {
  height: 1px;
  width: 100%;
  position: relative;
  margin: 25px 0; }
  .rule.dark {
    background: #b3b3b3; }
  .rule.light {
    background: #999999; }
  .rule.no-margin {
    margin: 0; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.icon {
  display: inline-block;
  vertical-align: text-top;
  padding: 0 5px; }
  .icon.add {
    height: 13px;
    width: 13px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url("/images/icon-add@1x.png"); }

.app {
  color: #4d4d4d; }

.t1, .t2, .t3, .t4, .t3-bold, .t4-bold, h1, h2, h5 {
  font-family: "Avenir Next LT W01 SC", Arial, sans-serif;
  font-weight: normal;
  font-style: normal; }

.t1 {
  font-size: 3em;
  line-height: 1.125;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin-bottom: 40px;
  color: #4d4d4d; }

.t2 {
  font-size: 1.625em;
  line-height: 1.46154;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin-bottom: 40px;
  color: #4d4d4d; }

.t3 {
  font-size: 1.125em;
  line-height: 1.33333;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin-bottom: 40px;
  color: #4d4d4d; }

.t4 {
  font-size: 1.0625em;
  line-height: 1.17647;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin-bottom: 40px;
  color: #4d4d4d; }

.t5 {
  font-size: 0.75em;
  line-height: 1.66667;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin-bottom: 40px;
  color: #4d4d4d; }

.p1, .lt1, .p1-bold {
  font-size: 3em;
  line-height: 1.125; }

.p2, .lt2, .p2-bold, p, input.p2, input.p2-bold {
  font-size: 1.125em;
  line-height: 1.33333; }

.p3, .lt3, .lt3-alt, .p3-bold {
  font-size: 1.0625em;
  line-height: 1.17647; }

.p4, .lt4, input.p4, .p4-bold, input.p4-bold {
  font-size: 0.75em;
  line-height: 1.5; }

.p5, .lt5 .p5-bold {
  font-size: 0.625em;
  line-height: 1.3; }

.p1-bold, .p2-bold, .p3-bold, .p4-bold, .p5-bold {
  font-family: "Avenir Next LT W01 Demi", Arial, sans-serif;
  font-weight: normal;
  font-style: normal; }

.t1-blue,
.t2-blue,
.t3-blue,
.t4-blue {
  color: #1fbad6; }

.t1-light,
.t2-light,
.t3-light,
.t4-light {
  color: white; }

.t1-marginless-top,
.t2-marginless-top,
.t3-marginless-top,
.t4-marginless-top {
  margin-top: 0; }

.p1-marginless-top,
.p2-marginless-top,
.p3-marginless-top,
.p4-marginless-top,
.p5-marginless-top {
  margin-top: 0; }

.t1-marginless,
.t2-marginless,
.t3-marginless,
.t4-marginless {
  margin-top: 0;
  margin-bottom: 0; }

.p1-marginless,
.p2-marginless,
.p3-marginless,
.p4-marginless,
.p5-marginless {
  margin-top: 0;
  margin-bottom: 0; }

.t1-marginless-bot,
.t2-marginless-bot,
.t3-marginless-bot,
.t4-marginless-bot {
  margin-bottom: 0; }

.p1-marginless-bot,
.p2-marginless-bot,
.p3-marginless-bot,
.p4-marginless-bot,
.p5-marginless-bot {
  margin-bottom: 0; }

a {
  color: #1fbad6;
  text-decoration: none; }

a:hover,
a:active,
a:focus {
  color: #4295a4;
  text-decoration: none; }

a.secondary {
  color: #666666;
  text-decoration: none; }

a.secondary:hover,
a.secondary:active,
a.secondary:focus {
  color: gray;
  text-decoration: none; }

ul, ol {
  padding: 0; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0; }

ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none; }

ul.inline,
ol.inline {
  margin-left: 0;
  list-style: none; }
  ul.inline > li,
  ol.inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px; }
    ul.inline > li:first-child,
    ol.inline > li:first-child {
      padding-left: 0; }

label {
  font-family: "AvenirNextLTW01-Italic", Arial, sans-serif;
  font-weight: normal;
  font-style: normal; }

fieldset {
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 1.65em;
  font-size: 1em;
  line-height: 1.65;
  color: #444444;
  border: 0;
  border-bottom: 1px solid #e5e5e5; }
  legend small {
    font-size: 1.2375em;
    color: #c2c2c2; }

label,
input,
button,
select,
textarea {
  font-size: 0.75em;
  line-height: 1;
  font-weight: normal; }

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  display: inline-block;
  height: 12px;
  padding: 6px 6px 6px 8px;
  margin-bottom: 9px;
  background: white;
  color: #c2c2c2;
  border: none; }
  select.light,
  textarea.light,
  input[type="text"].light,
  input[type="password"].light,
  input[type="datetime"].light,
  input[type="datetime-local"].light,
  input[type="date"].light,
  input[type="month"].light,
  input[type="time"].light,
  input[type="week"].light,
  input[type="number"].light,
  input[type="email"].light,
  input[type="url"].light,
  input[type="search"].light,
  input[type="tel"].light,
  input[type="color"].light {
    color: #666666;
    background: #f2f2f2; }
  select.error,
  textarea.error,
  input[type="text"].error,
  input[type="password"].error,
  input[type="datetime"].error,
  input[type="datetime-local"].error,
  input[type="date"].error,
  input[type="month"].error,
  input[type="time"].error,
  input[type="week"].error,
  input[type="number"].error,
  input[type="email"].error,
  input[type="url"].error,
  input[type="search"].error,
  input[type="tel"].error,
  input[type="color"].error {
    border: 1px solid red !important; }

label {
  display: block;
  margin-bottom: 5px;
  text-transform: lowercase; }

.selector {
  height: 24px;
  padding: 0px 6px;
  position: relative;
  overflow: hidden; }
  .selector span {
    position: relative;
    top: 3px;
    font-size: 0.75em;
    line-height: 1.83333;
    color: #c2c2c2; }
  .selector select {
    position: absolute;
    border: none;
    background: none;
    text-transform: capitalize;
    height: 24px;
    top: 0px;
    left: 0px;
    width: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0; }

.btn {
  display: inline-block;
  padding: 9px 11px 10px;
  margin-bottom: 0;
  font-size: 0.75em;
  line-height: inherit;
  *line-height: inherit;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  color: white;
  cursor: pointer;
  background: #1fbad6;
  border: none; }
  .btn:hover {
    background: #23ceed;
    color: white; }

.btn-secondary {
  background: #4d4d4d; }
  .btn-secondary:hover {
    color: white;
    background: #333333; }

/* #Tablet (Portrait)
================================================== */
/* Note: Design for a width of 768px */
/*  #Mobile (Portrait)
================================================== */
/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
  .location-list .location-container {
    height: auto; }
  .location-list .location-options {
    margin: 20px 0 0;
    position: relative; }

  .edit-location-form input {
    width: 100%; }
  .edit-location-form .column,
  .edit-location-form .columns {
    margin-left: 0 !important;
    width: 100% !important; } }
/* #Mobile (Landscape)
================================================== */
/* Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .location-list .location-container {
    height: auto; }
  .location-list .location-options {
    margin: 20px 0 0;
    position: relative; }

  .edit-location-form input {
    width: 100%; }
  .edit-location-form .column,
  .edit-location-form .columns {
    margin-left: 0 !important;
    width: 100% !important; } }
/* #Retina (Fancy screens)
================================================== */
@media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124dpi) {
  .mast-head .logo-type {
    background-image: url("/images/logo-type@2x.png");
    background-size: contain; }

  .icon.add {
    background-image: url("/images/icon-add@2x.png");
    background-size: contain; } }
.container {
  margin: 0 auto; }
