.media-container {
  position: relative;
  height: 525px;
  overflow: hidden;

  &.default {
    .media-background {
      background: {
        color: $pink;
        image: url('/svg/patterns/gradient-default.svg');
      }
    }
  }

  .media-element {
    position: relative;
    overflow: hidden;
    height: 100%;

    .video-player {
      position: relative;
      height: 100%;
    } 

    .background-video {
      position: relative;
      width: 100%;
    }
  }

  .media-element-inner {
    position: absolute;
    top: 0;
    bottom :0;
    width: 100%;
    height: 100%;
    z-index: $zindexMediaContent;
  }

  .media-background {
    position: absolute;
    top: 0;
    bottom :0;
    width: 100%;
    height: 100%;
    opacity: .85;
    z-index: $zindexMediaBackground;
    background: {
      position: center center;
      size: cover;
      repeat: no-repeat;
    }
  }
    
}
