.work-tout-wrap {
  overflow: hidden;

  .tout-anchor {
    overflow: hidden;

    .tout-inner-wrap {
      position: relative;
      height: 100%;
    }

    .bw-tout {

      &:hover {
        .img-wrap {
          opacity: 0;
        }

        .video-wrap {
          opacity: 1;
        }
      }
    }

    video,
    img {
      width: 100%;
    }
    
    .media-element {
      display: flex;
      transition: all .25s ease-in;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      align-items: center;
      justify-content: center;
    }

    .img-wrap {
      width: 100%;
      filter: grayscale(1);
      opacity: 1;
    }

    .video-wrap {
      opacity: 0;
      height: 100%;

      .video-background {
        position: absolute;
        top: 0;
        left: 0;
        bottom :0;
        width: 100%;
        height: 100%;
        opacity: .85;
        background: {
          color: $pink;
          image: url('/svg/patterns/gradient-default.svg');
          position: center;
          size: cover;
        }
      }

      video {
        position: absolute;
      }
    }

    .video-wrap,
    .video-player {
      position: relative;
      height: 100%;
    }
  }
}
