.home-hero {
  padding: {
    top: px-em(200);
    bottom: px-em(75);
  }

  .t1 {
    white-space: no-wrap;
  }

}

/* #Tablet (Portrait)
================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}

/* #Mobile (Landscape)
================================================== */
@media only screen and (max-width: 767px) {
  .home-hero {
    padding: {
      top: px-em(125);
      bottom: px-em(25);
    }  
  }
}
