.container {
  .meta-list {
    overflow: hidden;
    margin: {
      bottom: 0;
    }

    li {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 1px;
        background: $gray90;
      }

      &.omega {
        &:after {
          display: none;
        }
      }
    }
    .desc {
      color: $gray50;
    }
  } // meta-list

  .image-tout {
    &.shadow-tout {
      box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.25);
      overflow: hidden;
    }

    img {
      width: 100%;
      float: left;
    }
  }
}

.detail-navigation {
  padding: px-em(50) 0;
}

.nav-wrap { 
  position: relative;
  width: 100%;
  background: $pink;
  height: px-em(90);

  &:before {
    display: block;
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    background: $blue;
  }

  .nav {
    height: px-em(90);
    position: relative;

    &.left {
      background: $blue;

      .icon,
      .label {
        float: left;
      }

      .label {
        margin: {
          top: px-em(15);
          left: px-em(10);
        }
      }
    }

    &.right {
      background: $pink;

      .icon,
      .label {
        float: right;
      }

      .label {
        margin: {
          top: px-em(15);
          right: px-em(10);
        }
      }
    }

    .work-nav-btn-wrap {
      position: relative;
      height: 100%;
    }

    .work-nav-btn {
      display: block;
      position: absolute;
      @include fill-parent();

      .label-wrap {
        display: block;
      }

      .label {
      }

      .icon {
        display: inline-block;
        margin: px-em(39) 0 0;
      }
    }
  }
}
