.app-container {
  position: relative;
  margin: -$header_height 0 0;
  z-index: $zindexAppContent;
}

.app {
  &.nav-open {
    overflow: hidden;

    .app-container-wrap {
      overflow: hidden;
      transform: translateX(-$nav_width);
    }
  }

  &.nav-closing {
    .app-container-wrap {
      transform: translateX(0);
    }
  }
}

.section-wrap {
  &.themed {
    &.cujojp {
      background: radial-gradient(at top,rgba(#e14476, 1),rgba(#d42059, 1));
      background: -webkit-radial-gradient(top,rgba(#e14476, 1),rgba(#da3066, 1),rgba(#d42059, 1));
    }

    &.gray {

    }

    &.cujojp-blue {

    }
  }
}

.app-container-wrap {
  position: relative;
  transition: transform .15s ease-in-out;
  transform: translateX(0);
}
