.app-container {
  position: relative;
  margin: -$header_height 0 0;
  z-index: $zindexAppContent;
}

.app {
  &.nav-open {
    overflow: hidden;

    .app-container-wrap {
      overflow: hidden;
      transform: translateX(-$nav_width);
    }
  }

  &.nav-closing {
    .app-container-wrap {
      transform: translateX(0);
    }
  }
}

.app-container-wrap {
  transition: transform .15s ease-in-out;
  transform: translateX(0);
}
