.app-container {
  position: relative;
  margin: 0;
  z-index: $zindexAppContent;
}

.app {
  &.nav-open {
    overflow: hidden;

    .slide-app {
      overflow: hidden;
      transform: translateX(-$nav_width);
    }
    
    .app-container {
      overflow: hidden;
    }
  }

  &.nav-closing {
    .slide-app {
      transform: translateX(0);
    }
  }
}

.section-wrap {
  &.themed {
    &.cujojp {
      background: radial-gradient(at top,rgba(#e14476, 1),rgba(#d42059, 1));
      background: -webkit-radial-gradient(top,rgba(#e14476, 1),rgba(#da3066, 1),rgba(#d42059, 1));
    }

    &.gray {

    }

    &.cujojp-blue {

    }
  }
}

.app-container-wrap {
  position: relative;
  overflow: hidden;
}

.slide-app {
  transition: transform .15s ease-in-out;
  transform: translateX(0);
}


/* #Tablet (Portrait)
================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}

/* #Mobile (Landscape)
================================================== */
@media only screen and (max-width: 767px) {
  .app {
    &.nav-open {
      .slide-app {
        transform: translateX(-$nav_width_mobile);
      }
    }
  }
} 
