.mast-head {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: $zindexGlobalNav;

  .mast-head-inner {
    height: $header_height;
    background: rgba($white, .5);
    border-bottom: 1px solid $gray70;
  }

  .icon-animate {
    transition: all .15s ease-in-out;
  }

  .logo {
    width: 100px;
    height: 40px;
    fill: $gray30;
  }

  .menu-icon {
    fill: $gray30;
  }

  .menu-icon-toggle {
    display: block;
    padding: 10px;
    float: right;
    width: 30px;
  }

  &.fixed {
   position: fixed;
  }

  &.themed {
    .menu-icon,
    .logo {
      fill: $white;
    }

    .mast-head-inner {
      border-bottom: 1px solid rgba($white, 0);
      background: rgba($white, 0);
    }
  }
}

.mast-head-container {
  padding: 30px 0 0;
}  

.nav-divider {
  display: block;
  height: px-em(2);
  width: 100%;
  background: {
    color: $gray80;
  }

  &.themed {
    background: {
      color: $pink;
      image: url('/svg/patterns/gradient-default.svg');
      size: cover;
    }
  }
}

.app-header {
  position: absolute;
  height: 100%;
  width: 350px;
  top: 0;
  right: -351px;
  background: $gray100;
  z-index: $zindexUniversalNav;
  border-left: 1px solid $gray80;

  .inner-slide-nav {
    padding: px-em(30) px-em(25) px-em(10);
  }

  .inner-logo-wrap {
    padding: 0 0 px-em(25);
  }

  .logo {
    width: px-em(100);
    height: px-em(40);
    fill: $pink;
  }
}

.footer-bottom {
  padding: px-em(80) 0 0;

  .icon-anchor {
    overflow: hidden;
    padding: px-em(10) px-em(5);
    position: relative;
  }

  .social-list {
    text-align: center;
  }

  .icon {
    fill: $pink;
  }

  .icon-anchor:hover {
    .tooltip {
      animation-name: fade-up;
    }
  }

  .tooltip-wrap {
    position: absolute;
    top: px-em(-40);
    left: 50%;
    margin-left: px-em(-40);
    width: px-em(80);
  }

  .tooltip {
    position: relative;
    background: $gray90;
    border-radius: 2px;
    padding: px-em(4);
    animation-duration: 150ms;
    animation-delay: 50ms;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
    animation-name: fade-out;
    opacity: 0;

    .t6 {
      line-height: 1;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: -4px;
      left: 50%;
      margin-left: -2px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 4px 3.5px 0 3.5px;
      border-color: $gray90 transparent transparent transparent;
    }
  }
}

.nav-list {
  list-style: none;
  padding: 0 0 px-em(30);
  overflow: hidden;

  .nav-item {
    position: relative;
    display: block;
    left: 0;
    padding: px-em(20) 0;
  }
}

.nav-sub-list {
  transition: none;
  padding: px-em(20) 0 0;

  .nav-anchor {
    display: inline-block;
    position: relative;
    color: $blue; 
    padding: 0 0 px-em(3);
    margin: 0 0 px-em(10);

    &:before {
      content:'';
      position: absolute;
      bottom: 0;
      left: 0;
      transition: all .25s ease-out;
      opacity: 0;
      display: block;
      width: 0;
      height: 1px;
      background: $pink;
    }

    &:hover {
      &:before {
        width: px-em(25);
        opacity: 1;
      }
    }
  }
}

.nav-item-ani-in {
  opacity: 0;
  transition: opacity .5s ease-in-out;
  animation-duration: 250ms;
  animation-delay: 550ms;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}

@for $i from 0 through 20 {
  .nav-item-ani-in.item-#{$i} {
    animation-delay:  250ms + (($i - 1) * 55ms);
  }
}

.nav-open {
  .nav-item-ani-in {
    animation-name: fade-down;
  }
}

.nav-closed {
  .nav-item-ani-in {
    animation-name: fade-out;
  }

  @for $i from 0 through 20 {
    .nav-item-ani-in.item-#{$i} {
      animation-delay:  0;
    }
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-down {
  from {
    opacity: 0;
    transform: translate(0, -8px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translate(0, 8px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
