.mast-head {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: $zindexGlobalNav;

  .mast-head-inner {
    height: $header_height;
    background: rgba($white, .5);
    border-bottom: 1px solid $gray70;
  }

  .icon-animate {
    transition: all .15s ease-in-out;
  }

  .logo {
    width: 100px;
    height: 40px;
    fill: $gray30;
  }

  .menu-icon {
    fill: $gray30;
  }

  .menu-icon-toggle {
    display: block;
    padding: 10px;
    float: right;
    width: 30px;
  }

  &.fixed {
   position: fixed;
  }

  &.themed {
    .menu-icon,
    .logo {
      fill: $white;
    }

    .mast-head-inner {
      border-bottom: 1px solid rgba($white, 0);
      background: rgba($white, 0);
    }
  }
}

.mast-head-container {
  padding: 30px 0 0;
}  

.nav-divider {
  display: block;
  height: px-em(2);
  width: 100%;
  background: {
    color: $gray80;
  }

  &.themed {
    background: {
      color: $pink;
      image: url('/svg/patterns/gradient-default.svg');
      size: cover;
    }
  }
}

.app-header {
  position: absolute;
  height: 100%;
  width: 350px;
  top: 0;
  right: -351px;
  background: $gray100;
  z-index: $zindexUniversalNav;
  border-left: 1px solid $gray80;

  .inner-slide-nav {
    padding: px-em(30) px-em(25) px-em(10);
  }

  .inner-logo-wrap {
    padding: 0 0 px-em(25);
  }

  .logo {
    width: px-em(100);
    height: px-em(40);
    fill: $pink;
  }
}

.nav-list {
  list-style: none;
  padding: 0 0 px-em(30);
  overflow: hidden;

  .nav-item {
    position: relative;
    display: block;
    left: 0;
    padding: px-em(20) 0;
  }
}

.nav-sub-list {
  transition: none;
  padding: px-em(20) 0 0;

  .nav-anchor {
    display: inline-block;
    position: relative;
    color: $blue; 
    padding: 0 0 px-em(3);
    margin: 0 0 px-em(10);

    &:before {
      content:'';
      position: absolute;
      bottom: 0;
      left: 0;
      transition: all .25s ease-out;
      opacity: 0;
      display: block;
      width: 0;
      height: 1px;
      background: $pink;
    }

    &:hover {
      &:before {
        width: px-em(25);
        opacity: 1;
      }
    }
  }
}

.nav-item-ani-in {
  opacity: 0;
  transition: opacity .5s ease-in-out;
}
