.mast-head {
  position: relative;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: $zindexGlobalNav;
}


.background-fade {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  background: $white;
  filter: blur(10px) contrast(0.4) brightness(1.4);
  opacity: 0.85;
}  
