mixin partial(m, d)
  if ( m && d && m != true && d != true )
    - data = locals.getData(d)
    - partialObject = { 'data': data }
    - e = locals.extendObj({}, locals, partialObject);
    //-- e = {"locals": locals, "js":options.globals.js, "data":data}
    != locals.partial('./views/' + m, e)
