mixin partial(module, data)
  - config = locals._locals.options;
  if ( module && data && module != true && data != true )
    - data = config.getData(data);
    - partialObject = { 'data': data }
    - e = config.extendObj({}, locals._locals, partialObject);
    != config.partial('./views/' + module, partialObject)
