include ../../../../views/shared/global/jade-helpers.jade
- dataObj = data;

section.detail-navigation
  .nav-wrap
    .container
      .row
        .seven.columns.nav.blue
          a(href="/work").work-nav-btn
            span.label
              | View Portfolio

        .five.columns.nav.pink
          a(href="#NEXT").work-nav-btn
            span.label
              | View Next Project
          
