include ../../../../views/shared/global/jade-helpers.jade
- dataObj = data;

mixin carouselWrap(contentBlock)
  - isCarousel = locals.isArray(contentBlock.media);

  if isCarousel
    .inline-carousel-wrap
      .inline-carousel
        for slide in contentBlock.media
          .carousel-slide
            +responsiveImg(slide)
      .caption-container
        for item in contentBlock.media
          span.caption.t5.t5-grey.t5-marginless.fade.invisible!= item.caption
  else 
    .inline-image-wrap


section.detail-article-content
  .container
    for contentBlock, i in dataObj.blocks
      - contentBlockMedia = contentBlock.media
      - contentType = contentBlock.type

      if contentType === 'content'
        .row.marginless
          .columns.seven
            h3.t2= contentBlock.title
        .row
          .columns.five.offset-by-one
            p.p3.p3-marginless-top!= contentBlock.body
          .columns.five.offset-by-one
            +carouselWrap(contentBlock)

      if contentType === 'media-tout'
        .row.marginless
          for mediatout in contentBlock.media
            .columns.four.image-tout
              .aspect-7x5
                .aspect-inner
                  +responsiveImg(mediatout)

